.page-notes {
    font-size: 1rem;
}

.modal-notes-view,
.modal-notes-edit {
    width: 100%;
    max-width: 800px;

    .single-note-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .modal-control-buttons {
            display: flex;
            flex-direction: row;
            gap: .5rem;
        }
    }

    h2 {
        @include fontSize(32);
        font-weight: 600;
    }

    .modal-notes-content {
        padding: 0 3rem;
    }

    .input-wrapper {
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: 0.75rem 0;

        label {
            color: $color-regal-blue;
        }

        input[type="text"],
        textarea {
            padding: 0.2rem 0;
            background: none;
            border: none;
            border-bottom: 1px solid $color-gray;

            &:focus {
                outline: 0;
            }
        }
    }

    .submit-btn-wrapper {
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
    }
}

.modal-notes-content {
    h3 {
        color: $color-gray;
        margin-bottom: 0;
        @include fontSize(14);
        font-weight: 400;

        span {
            padding-left: .5rem;
            padding-right: .5rem;
            border-bottom: 1px solid $color-gray;
        }

    }

    h2 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    p {
        margin-top: 2rem;
    }

    .single-note-client-information {
        display: flex;
        gap: .5rem;
        flex-direction: row;
        align-items: center;
        height: 25px;
    
      
            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
              border-radius: 50%;
            }
        
        h4 {
            color: $color-science-blue;
            @include fontSize(14);
        }
        }
}