.header-search-qa {
    display: flex;
    gap: 1.2rem;
    margin: auto;
    width: 100%;
    max-width: 710px;
}

.header-search-form {
    flex: 1;
    display: flex;

    input {
        flex: 1;
        padding: .5rem 1rem;
        border: 1px solid $color-dusty-gray;
        border-right: none;
        border-radius: .5rem 0 0 .5rem;

        &:focus {
            outline: none;
        }
    }

    button {
        padding: 0 .5rem;
        background-color: $color-white;
        color: $color-science-blue;
        border: 1px solid $color-dusty-gray;
        border-left: none;
        border-radius: 0 .5rem .5rem 0;
        cursor: pointer;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $color-white-lilac;
        }

        i {
            font-size: 2rem;
        }
    }

    .button-reset {
        border-right: 1px solid $color-dusty-gray;
        border-radius: 0;
    }
}

.search-result {
    position: absolute;
    top: 55px;
    background-color: $color-white;
    width: 100%;
    max-width: 710px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 8px;
    border: $color-dusty-gray 1px solid;
    z-index: 100;
}

.search-type-button {
    border-radius: 6px;
    border: $color-french-gray 1px solid;
    background-color: $color-white;
    color: $color-french-gray;
}

.search-single-grey-text {
    color: $color-gray;
}

.search-type-button-wrapper {
    display: flex;
    align-items: center;
}

.search-single {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-bottom: $color-french-gray 1px solid;

    h3 {
        @include fontSize(20);
        margin: 0 0 1rem;
        font-weight: 600;
    }

    p {
        margin: 0;
    }

    .connection-result {
        &.connection-with-photo {
            display: flex;
            align-items: center;
            gap: 1rem;

            .connection-result-photo-wrapper {
                width: 67px;
                height: 67px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.search-single:hover {
    background-color: $color-wild-sand;
    cursor: pointer;
    border-radius: 6px;
}

.header-search-qa {
    position: relative;
}

.search-filter-btns {
    margin: 1rem;

    .btn {
        margin: 0 .5rem
    }
}