.page-about {
    font-size: 1rem;
}

.about-content{
    .about-image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {

            height: 75%;
            width: 75%;
            border-radius: 25px;
        }
    }

    @media screen and (min-width: $screen-desktop) {

        .about-image {

            img {
                height: 60%;
                width: 60%;
            }
        }
        
    }
}