.page-dashboard {
    height: 100%;

    @media screen and (min-width: $screen-desktop) {
        display: flex;
        flex-direction: column;
    }

    .dashboard-tabs {
        display: flex;
        justify-content: center;

        @media screen and (min-width: $screen-desktop) {
            display: none;
        }
    }

    .dashboard-wrapper {
        flex: 1;
        display: flex;
        gap: 1rem;

        .dashboard-connection {
            flex: 1;
            padding: 1rem 2rem;
            background-color: #FDFDFD;
            border: 1px solid #949494;
            border-radius: 14px;

            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    margin: 0;
                }
            }

            &-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: .5rem;
            }
        }

        .dashboard-upcoming {
            display: none;

            @media screen and (min-width: $screen-desktop) {
                display: block;
                flex-basis: 410px;
            }

            .page-calendar-widget {
                height: 100%;
            }
        }
    }
}