
.icon-reports:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-settings:before { content: '\e803'; } /* '' */
.icon-arrow-left:before { content: '\e804'; } /* '' */
.icon-profile:before { content: '\e805'; } /* '' */
.icon-connection:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-pin:before { content: '\e808'; } /* '' */
.icon-trash:before { content: '\e809'; } /* '' */
.icon-edit-photo:before { content: '\e80a'; } /* '' */
.icon-close:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-hide:before { content: '\e80e'; } /* '' */
.icon-filter:before { content: '\e80f'; } /* '' */
.icon-show:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-security:before { content: '\e812'; } /* '' */
.icon-logout:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-subscription:before { content: '\e815'; } /* '' */
.icon-edit:before { content: '\e816'; } /* '' */
.icon-note:before { content: '\e817'; } /* '' */
.icon-warning:before { content: '\e818'; } /* '' */
.icon-time:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
