.clients-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.connections-top-buttons {
  .connections-filter-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: .5rem;
  }
}

.page-connections {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: $color-white;
  border: 1px solid $color-dusty-gray;
  border-radius: 1rem;

    h2 {
      margin: 0;
      font-size: 2rem;
      text-align: center;
    }

    .connection-content {
      h3{
        grid-column: 1/-1;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .5rem;
      margin-bottom: 2rem;

      @media screen and (min-width: $screen-desktop) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .client-card {
      background-color: $color-mystic;
      border-radius: 10px;
      padding: 1.5rem;
      color: $color-shark;
      cursor: pointer;

      &:hover {
          background-color: $color-hawkes-blue;
          cursor: pointer;
      }

      h4 {
        @include fontSize(20);
        margin: 0;
        font-weight: 600;
      }

      p {
          @include fontSize(14);
          margin: 0;

          &.connection-company {
            font-weight: 600;
          }
      }

      .connection-interaction {
          margin-top: 1rem;
          padding-top: 1rem;
          text-align: center;
          border-top: 1px solid $color-shark;
      }
    }
}

// Active button
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: $color-white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $color-science-blue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $color-science-blue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  //industry label checkbox
  .industry-item-label {
    border: $color-gray solid 1px;
    color: $color-gray;
    border-radius: 20px;
    padding: .1rem .5rem;
  }

  .industry-item-input {
      display: none;
    }

  .IndustryChkbox-wrapper {
    display: flex;
    flex-flow: row wrap;
  }


  // text
  .regular-text-gray {
    color: $color-gray;
  }



.modal-connection-add,
.modal-connection-edit {
  padding: 2rem;

  @media screen and (min-width: $screen-desktop) {
      padding: 4rem 10rem 6rem;
  }

  h2 {
      @include fontSize(32);
      margin-top: 0;
      font-weight: 600;
  }

  .add-form,
  .edit-form {
    display: grid;
    width: 650px;
    max-width: 100%;

    h4 {
      @include fontSize(20);
      margin-bottom: 0;
      color: $color-regal-blue;
      font-weight: 600;
    }

    .input-wrapper {
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: .75rem 0;

        label {
            color: $color-regal-blue;

            &.industry-item-label {
              display: inline-block;
              color: $color-gray;
              cursor: pointer;
              transition: all .2s ease-in-out;

              &:hover {
                color: $color-science-blue;
                border: $color-science-blue solid 1px;
              }
            }
        }

        input[type="text"],
        textarea,
        select {
            padding: .2rem 0;
            background: none;
            border: none;
            border-bottom: 1px solid $color-dusty-gray;

            &:focus {
                outline: 0;
            }
        }

        .slider-label-span {
          color: $color-regal-blue;
        }
    }

    .industry-checkboxes {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;

      .industry-item-input:checked ~ .industry-item-label {
        background-color: $color-science-blue;
        color: $color-white;
        border: $color-science-blue solid 1px;
      }
    }

    .submit-btn-wrapper {
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
    }
  }
}

.modal-connection-detail {
  padding: 0;
  width: 100%;

  &-top {
    padding: 2rem;
    background-color: $color-mystic;

    @media screen and (min-width: $screen-desktop) {
      padding: 2rem 8rem;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-button-controls {
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }

  &-content {
    padding: 0 3rem;

    &.detail-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        @include fontSize(32);
        margin-bottom: 1rem;
        font-weight: 600;
      }

      .connection-detail-info {
        flex: 1;
        display: flex;
        flex-direction: column;

        > div {
          display: flex;
          align-items: center;
        }
  
        p {
          margin: .6rem 0;

          &:first-child {
            flex-basis: 160px;
          }
        }
      }

      .connection-photo {
        width: 225px;
        height: 225px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid $color-mystic;
        }
      }

      .detail-info-industry {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        span {
          @include fontSize(14);
          display: inline-block;
          padding: 3px 12px;
          color: $color-regal-blue;
          border: 1px solid $color-regal-blue;
          border-radius: 20px;
        }
      }
    }
  }

  &-bottom {
    padding: 2rem;

    @media screen and (min-width: $screen-desktop) {
      padding: 2rem 8rem 6rem;
    }

    h3 {
      @include fontSize(28);
      margin: 0 0 1rem;
      padding: .5rem 0;
      color: $color-regal-blue;
      border-bottom: 2px solid $color-regal-blue;
    }
  }

  .note-details {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid $color-gray;

    > div {
      margin: 1.5rem 0;
    }

    h4 {
      @include fontSize(20);
      margin: 0;
      font-weight: 600;
    }
  }
}

.add-note-form {
  .input-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: .75rem 0;

    label {
        color: $color-regal-blue;
    }

    input[type="text"],
    textarea,
    select {
        padding: .2rem 0;
        background: none;
        border: none;
        border-bottom: 1px solid $color-dusty-gray;

        &:focus {
            outline: 0;
        }
    }

    &.submit-btn-wrapper {
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
        margin-top: 1rem;
    }
  }
}

.connections-filter-btns {
  display: flex;
  gap: 1rem;
}

.connection-form-top {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  @media screen and (min-width: $screen-desktop) {
    flex-direction: row;
  }

  &-fields {
    flex: 1;
  }

  &-photo {
    label {
      width: 215px;
      height: 215px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border: 1px solid $color-mystic;
      border-radius: 50%;
      transition: opacity .3s ease-in-out;

      &:hover {
        opacity: .8;
        cursor: pointer;
      }
    }
  }
}