.page-connections {
    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .connection-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .5rem;
      margin-bottom: 2rem;

      @media screen and (min-width: $screen-desktop) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .client-card {
      background-color: $color-mystic;
      border-radius: 10px;
      padding: 1.5rem;
      color: $color-shark;
      cursor: pointer;

      &:hover {
          background-color: $color-hawkes-blue;
          cursor: pointer;
      }

      h4 {
        @include fontSize(20);
        margin: 0;
        font-weight: 600;
      }

      p {
          @include fontSize(14);
          margin: 0;

          &.connection-company {
            font-weight: 600;
          }
      }

      .connection-interaction {
          margin-top: 1rem;
          padding-top: 1rem;
          text-align: center;
          border-top: 1px solid $color-shark;
      }
    }
}

// Active button
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: $color-white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $color-science-blue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $color-science-blue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  //industry label checkbox
  .industry-item-label {
    border: $color-gray solid 1px;
    color: $color-gray;
    border-radius: 20px;
    padding: .1rem .5rem;
  }

  .industry-item-input {
      display: none;
    }

  .IndustryChkbox-wrapper {
    display: flex;
    flex-flow: row wrap;
  }


  // text
  .regular-text-gray {
    color: $color-gray;
  }



.modal-connection-add {
  padding: 2rem;

  @media screen and (min-width: $screen-desktop) {
      padding: 2rem 10rem 6rem;
  }

  h2 {
      @include fontSize(32);
      font-weight: 600;
  }

  .add-form {
    display: grid;
    width: 650px;
    max-width: 100%;

    h4 {
      @include fontSize(20);
      margin-bottom: 0;
      color: $color-regal-blue;
      font-weight: 600;
    }

    .input-wrapper {
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: .75rem 0;

        label {
            color: $color-regal-blue;

            &.industry-item-label {
              display: inline-block;
              color: $color-gray;
              cursor: pointer;
              transition: all .2s ease-in-out;

              &:hover {
                color: $color-science-blue;
                border: $color-science-blue solid 1px;
              }
            }
        }

        input[type="text"],
        textarea,
        select {
            padding: .2rem 0;
            background: none;
            border: none;
            border-bottom: 1px solid $color-dusty-gray;

            &:focus {
                outline: 0;
            }
        }

        .slider-label-span {
          color: $color-science-blue;
        }
    }

    .industry-checkboxes {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;

      .industry-item-input:checked ~ .industry-item-label {
        background-color: $color-science-blue;
        color: $color-white;
        border: $color-science-blue solid 1px;
      }
    }

    .submit-btn-wrapper {
        flex-direction: row;
        gap: 1rem;
        margin-top: 1rem;
    }
  }
}

.modal-connection-detail {
  padding: 2rem;
  width: 100%;

  @media screen and (min-width: $screen-desktop) {
      padding: 2rem 8rem 6rem;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-button-controls {
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }

  &-content {
    padding: 0 3rem;

    &.detail-info {
      div {
        display: flex;
        align-items: center;
  
        p {
          margin: .5rem 0;

          &:first-child {
            flex-basis: 160px;
          }
        }
      }

      .detail-info-industry {
        display: flex;
        flex-direction: row;
        gap: .6rem;

        span {
          @include fontSize(14);
          display: inline-block;
          padding: 3px 12px;
          color: $color-regal-blue;
          border: 1px solid $color-regal-blue;
          border-radius: 20px;
        }
      }
    }
  }
}