.logoutModal{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    .page-logout{
        background: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        padding: 26px 54px 29px 54px;
        width: 343px;
        height: 220px;
        .circle{
            background-color: $color-regal-blue;
            border-radius: 30px 30px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            margin:auto;
            i{
                @include fontSize(50);
                color: $color-white;
            }
        }
        p{
            text-align: center;
            margin: 15px 0 29px 0;
        }
        .btn-area{
            display: flex;
            gap:32px;
            justify-content: center;
        } 
    }
}
