.page-login {
    font-size: 1rem;
    // text-align: center;
    padding: 20px;
    
    h3{
        text-align: center;
        margin: 36px 0 21px 0;
    }
    label{
        display: block;
        color:#004076;
    }
    button{
        display: block;
        margin-top: 33px;
    }
    .forget-pw-link a{
        text-align: right;
        color:#004076;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-top: 18px;
    }
    .move-to-signup-link,
    .move-to-signup-link a
    {
        text-align: center;
    }
    .move-to-signup-link a
    {
        color:#004076;
        padding-left: 9px ;
    }
    .move-to-signup-link{
        color:#747474;
    }
    @media screen and (min-width:768px){
        
    }
}