body:not(.no-sidebar) {
    &.body-theme-dark {
        background-color: $color-shark;

        path.logo-letters {
            fill: $color-white;
            stroke: $color-white !important;
        }

        aside {
            background-color: $color-shark;

            i {
                color: $color-white;
            }

            a {
                color: $color-white;
            }
        }

        .page-settings {
            background-color: $color-lighter-shark;

            h2 {
                color: $color-white;
            }

            .section {
                &-profile-edit,
                &-passwordSecurity,
                &-subscription,
                &-theme,
                &-notification {
                    background-color: $color-mako;
                    color: $color-white;

                    i::before {
                        color: $color-white;
                    }
                }

                &-aboutus,
                &-help {
                    background-color: $color-mako;
                    color: $color-white;

                    .title-icon i {
                        color: $color-white;
                    }
                }
            }

            .subscribe {
                background-color: $color-slate-gray;
                color: $color-white;

                .blue-title,
                .blue-price {
                    color: $color-white;
                }
            }
        }

        .edit-profile-modal-modal .editProfile-modal,
        .manage-modal-modal .manage-modal,
        .aboutus-page-modal-modal,
        .select-plan-modal,
        .contactus-modal-modal .contactus-modal,
        .subscribe-modal-premium .subsc-modal {
            background-color: $color-lighter-shark;

            h2,
            h3,
            label,
            p,
            i {
                color: $color-white;
            }

            input[type="text"],
            input[type="email"] {
                background: transparent;
                color: $color-white;
            }
        }

        .page-select-plan .free-plan,
        .page-select-plan .premium-plan {
            background-color: $color-mako;

            h4 {
                color: $color-white;
                border-bottom-color: $color-white;
            }

            li {
                color: $color-white;
            }
        }

        .credence-modal {
            background-color: $color-lighter-shark !important;
        }
    }
}