@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-white-lilac;
    font-family: $font;
    @include fontSize(16);
}

img {
    max-width: 100%;
    width: auto;
}

a {
    color: $color-shark;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    font-family: $font;
    font-size: 1rem;
}

input[type="text"] {
    font-size: 1rem;
}

button {
    cursor: pointer;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.no-sidebar {
    header,
    aside {
        display: none;
    }
}

aside {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    background: $color-white-lilac;
    z-index: 999;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    @media screen and (min-width: $screen-desktop) {
        position: static;
        height: calc(100vh - 75px);
        z-index: 0;
        transform: translateX(0);
    }

    .mobile-menu-visible & {
        transform: translateX(0)
    }
}

.App-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 3rem;

    @media screen and (min-width: $screen-desktop) {
        align-items: start;
        height: 100%;
        padding: 5rem 3rem 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 100%;

        li {
            display: flex;
            align-items: center;
            margin: 1rem 0;

            @media screen and (min-width: $screen-desktop) {
                justify-content: start;
            }

            i {
                font-size: 2rem;
            }

            &.mister-spacer {
                margin: 0;

                @media screen and (min-width: $screen-desktop) {
                    flex: 1;
                }
            }
        }

        a {
            @include fontSize(20);
            position: relative;
            font-weight: 600;

            &::before {
                content: '';
                width: 0;
                height: 5px;
                background: $color-science-blue;
                position: absolute;
                bottom: -4px;
                border-radius: 4px;
                transition: width .2s linear;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }

            &.active {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

.container {
    display: flex;
    gap: 1rem;

    > aside {
        @media screen and (min-width: $screen-desktop) {
            flex-basis: 285px;
        }
    }

    .App-body {
        flex: 1;
        padding: .5rem;

        .no-sidebar & {
            background-color: transparent;
            border: none;
        }
    }
}

.credence-modal {
    background-color: $color-white;
    padding: 2rem;
    max-width: 1024px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $color-dusty-gray;

    @media screen and (min-width: $screen-desktop) {
        padding: 2rem 5rem 6rem;
    }

    &:focus {
        outline: 0;
    }
}