@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-iron;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: $color-white-lilac;
    background-size: 200vw 200vh;
    background-position: 100% 100%;
    font-family: $font;
    @include fontSize(16);
    transition: background-position .6s ease-in-out;

    @media screen and (min-width: $screen-desktop) {
        background: linear-gradient(to bottom right, $color-shark 50%, $color-white-lilac 50%);

        &:not(.no-sidebar) {
            overflow-y: hidden;

            .container {
                height: calc(100vh - 75px);

                .dashboard-wrapper {
                    height: 100%;
                }

                .dashboard-connection {
                    overflow: hidden;
                }

                .page-connections {
                    height: 0;
                }

                .page-calendar-widget,
                .page-connections > div {
                    overflow-y: auto;
                }

                .dashboard-connection-wrapper,
                .dashboard-upcoming,
                .App-body > .reports,
                .page-settings {
                    height: 100%;
                    overflow-y: auto;
                }

                .App-body > .reports {
                    width: 100%;
                }
            }
        }
    }
}

img {
    max-width: 100%;
    width: auto;
}

a {
    color: $color-shark;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    font-family: $font;
    font-size: 1rem;
}

input[type="text"] {
    font-size: 1rem;
}

button {
    cursor: pointer;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.no-sidebar {
    header,
    aside {
        display: none;
    }
}

aside {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    z-index: 999;
    background-color: $color-white-lilac;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    @media screen and (min-width: $screen-desktop) {
        position: static;
        height: calc(100vh - 75px);
        z-index: 0;
        background-color: none;
        transform: translateX(0);
    }

    .mobile-menu-visible & {
        transform: translateX(0);
    }
}

.App-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 3rem;

    @media screen and (min-width: $screen-desktop) {
        align-items: start;
        height: 100%;
        padding: 5rem 3rem 2rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 100%;

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 1rem 0;
            font-weight: 600;

            @media screen and (min-width: $screen-desktop) {
                justify-content: start;
            }

            i {
                font-size: 2rem;
                color: $color-shark;
            }

            &.mister-spacer {
                margin: 0;

                @media screen and (min-width: $screen-desktop) {
                    flex: 1;
                }
            }
        }

        a {
            @include fontSize(20);
            position: relative;
            color: $color-shark;
            font-weight: 600;

            &::before {
                content: '';
                width: 0;
                height: 5px;
                background: $color-science-blue;
                position: absolute;
                bottom: -4px;
                border-radius: 4px;
                transition: width .2s linear;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }

            &.active {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

.container {
    display: flex;
    gap: 1rem;

    > aside {
        @media screen and (min-width: $screen-desktop) {
            flex-basis: 285px;
        }
    }

    .App-body {
        flex: 1;
        padding: .5rem;

        .no-sidebar & {
            padding: 0;
            background-color: transparent;
            border: none;
        }
    }
}

.credence-modal {
    background-color: $color-white;
    padding: 2rem;
    max-width: 1024px;
    max-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    border: 1px solid transparentize($color-dusty-gray, .25);

    @media screen and (min-width: $screen-desktop) {
        padding: 2rem 5rem 6rem;
    }

    &:focus {
        outline: 0;
    }

    .icon-close {
        cursor: pointer;
        color: $color-regal-blue;
        font-size: 2rem;
    }
}

.ReactModal__Overlay {
    z-index: 999;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

/* BUTTONS */

.btn {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: 8px 22px;
    min-height: 40px;
    font-weight: 600;
    line-height: 1;
    border: 1px solid $color-gray;
    box-shadow: none;
    border-radius: 8px;
    transition: all .3s ease-in-out;

    i {
        margin: -4px -10px -4px 0;
        font-size: 2rem;
    }

    &-primary {
        background-color: $color-science-blue;
        color: $color-white;
        border: 1px solid $color-science-blue;

        &:hover {
            background-color: $color-white;
            border-color: $color-regal-blue;
            color: $color-regal-blue;
        }

        &-reverse {
            background-color: $color-white;
            color: $color-regal-blue;
            border: 1px solid $color-regal-blue;
    
            &:hover {
                background-color: $color-science-blue;
                border-color: $color-science-blue;
                color: $color-white;
            }
        }
    }

    &-secondary {
        background-color: $color-endeavour;
        color: $color-white;
        border: 1px solid $color-endeavour;

        &:hover {
            background-color: $color-solitude;
            border-color: $color-regal-blue;
            color: $color-regal-blue;
        }

        &-reverse {
            background-color: $color-solitude;
            color: $color-regal-blue;
            border: 1px solid $color-regal-blue;
    
            &:hover {
                background-color: $color-endeavour;
                border-color: $color-endeavour;
                color: $color-white;
            }
        }
    }

    &-focus {
        background-color: $color-regal-blue;
        color: $color-white;
        border: 1px solid $color-regal-blue;

        &:hover {
            background-color: $color-hawkes-blue;
            color: $color-regal-blue;
        }

        &-reverse {
            background-color: $color-hawkes-blue;
            color: $color-regal-blue;
            border: 1px solid $color-regal-blue;
    
            &:hover {
                background-color: $color-regal-blue;
                color: $color-white;
            }
        }
    }

    &-disabled {
        background-color: $color-french-gray;
        color: $color-shark;
        border: 1px solid $color-french-gray;

        &:hover {
            border-color: $color-regal-blue;
        }

        &-reverse {
            background-color: $color-french-gray;
            color: $color-shark;
            border: 1px solid $color-regal-blue;
    
            &:hover {
                border-color: $color-french-gray;
            }
        }
    }
}