@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

// Fonts
$font: "Red Hat Text", sans-serif;

// Colors
$color-science-blue: #0468BF;
$color-hawkes-blue: #D6EAFC;
$color-white-lilac: #F8F9FD;
$color-white: #FDFDFD;
$color-mystic: #E5E9EF;
$color-mine-shaft: #333333;
$color-shark: #22252D;
$color-dusty-gray: #949494;
$color-bali-hai: #8F9BB3;
$color-gray: #8A8A8A;
$color-text-grey: #878585;
$color-text-grey-light: #B9BEC8;
$color-iron: #DADCE0;
$color-manhattan: #F8C5A1;

// Media sizes
$screen-desktop: 768px;