.quick-add-wrapper {
    position: relative;

    .header-quick-add {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        position: relative;
        padding: .5rem 1rem .5rem 1.5rem;
        background-color: $color-science-blue;
        color: $color-white;
        border: none;
        border-radius: .5rem;
        z-index: 2;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: lighten($color-science-blue, 10%);
        }

        i {
            font-size: 1.5rem;
            transform: rotate(0deg);
            transition: transform .2s ease-in-out;
        }

        &.quick-add-visible {
            background-color: $color-regal-blue;

            i {
                transform: rotate(45deg);
            }

            ~ ul {
                li {
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
                    
                    &:nth-child(1) {
                        top: 60px;
                    }

                    &:nth-child(2) {
                        top: 115px;
                    }

                    &:nth-child(3) {
                        top: 170px;
                    }
                }
            }
        }
    }
    
    ul {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        li {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem 1rem .5rem 1.5rem;
            width: 100%;
            background-color: $color-science-blue;
            color: $color-white;
            border: none;
            border-radius: .5rem;
            cursor: pointer;
            transition: top .3s linear;

            &:hover {
                background-color: lighten($color-science-blue, 10%);
            }
    
            i {
                font-size: 1.5rem;
            }
        }
    }
}