.page-calendar {
    display: flex;
    gap: 1rem;
    height: 100%;

    &-view {
        flex: 1;
        padding: 1rem;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 14px;
        z-index: 0;

        .fc .fc-header-toolbar {
            > .fc-toolbar-chunk:first-child {
                > div {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
            > .fc-toolbar-chunk:last-child {
                display: none;

                @media screen and (min-width: $screen-desktop) {
                    display: block;
                }
            }
        }

        .fc .fc-toolbar-title {
            @include fontSize(36);
            color: $color-mine-shaft;
        }

        .fc .fc-prev-button,
        .fc .fc-next-button {
            padding: 0 .5rem;
            background: none;
            color: $color-shark;
            border: none;
            box-shadow: none;

            .fc-icon {
                font-size: 2.5rem;
            }
        }
        
        .fc .fc-toolbar.fc-header-toolbar {
            padding-bottom: 1rem;
            border-bottom: 1px solid transparentize($color-iron, .4);
        }

        .fc .fc-scrollgrid-liquid {
            border-color: transparentize($color-iron, .4);
        }

        .fc-day:not(.fc-day-disabled) .fc-daygrid-day-frame {
            &:hover {
                background-color: $color-white-lilac;
                cursor: pointer;
            }
        }

        .fc-theme-standard td,
        .fc-theme-standard th {
            @include fontSize(20);
            font-weight: 600;
            border-color: transparentize($color-iron, .4);
        }
        

        .fc-daygrid-event {
            @include fontSize(16);
            padding: 3px;
            white-space: normal;
        }

        .fc .fc-daygrid-day.fc-day-today {
            background-color: $color-hawkes-blue;
        }

        .fc-daygrid-dot-event .fc-event-title {
            font-weight: 400;
        }

        .fc-theme-standard td,
        .fc-theme-standard th {
            background-color: $color-white;
        }

        .fc .fc-cell-shaded,
        .fc .fc-day-disabled {
            background-color: $color-white-lilac;
        }

        .fc .fc-daygrid-day-top {
            flex-direction: row;
        }
    }

    &-widget {
        flex-basis: 410px;
        padding: 1rem .5rem;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 14px;

        h2 {
            @include fontSize(36);
            margin: 0;
            text-align: center;

            span {
                &:last-child {
                    font-weight: 600;
                }
            }
        }

        h3 {
            @include fontSize(28);
            margin: 1.5rem 1.5rem .5rem;
        }

        h4 {
            margin: 0 0 .5rem;
            font-size: 1rem;
            font-weight: 600;
        }

        .eventRow {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: .75rem;
            padding: .75rem;
            background: $color-mystic;
            border-radius: 12px;
            transition: background .3s ease-in-out;

            &:hover {
                background: $color-iron;
                cursor: pointer;
            }

            .datesStartEnd {
                display: flex;
                flex-direction: column;
                flex-basis: 100px;
                font-weight: 600;
                text-align: center;
                border-right: 1px solid #bbb;

                strong {
                    font-weight: 600;
                }

                span {
                    color: $color-bali-hai;
                }
            }

            .event-client {
                @include fontSize(14);
                display: inline-block;
                padding: .25rem .75rem;
                background-color: $color-manhattan;
                font-weight: 600;
                border-radius: 14px;
            }
        }
    }
}

.addEventForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    .input-wrapper {
        display: flex;
        flex-direction: column;
        padding: 5px 0;

        input[type="text"],
        textarea,
        select {
            border: 1px solid #000;
        }
    }

    .submit-btn-wrapper {
        grid-column: 1 / -1;
    }
}

.viewModalTable {
    width: 500px;

    th, td {
        text-align: left;
        vertical-align: top;
    }

    .viewEventDates {
        display: flex;
        flex-direction: column;
    }
}

.viewModalButtons {
    display: flex;
    justify-content: space-between;

    button {
        margin: 0 2px;
    }
}