.page-calendar {
    display: flex;
    gap: 1rem;
    height: 100%;

    &-view {
        flex: 1;
        padding: 1rem;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 14px;
        z-index: 0;

        .fc .fc-header-toolbar {
            > .fc-toolbar-chunk:first-child {
                > div {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
            > .fc-toolbar-chunk:last-child {
                display: none;

                @media screen and (min-width: $screen-desktop) {
                    display: block;
                }
            }
        }

        .fc .fc-toolbar-title {
            @include fontSize(36);
            color: $color-mine-shaft;
        }

        .fc .fc-prev-button,
        .fc .fc-next-button {
            padding: 0 .5rem;
            background: none;
            color: $color-shark;
            border: none;
            box-shadow: none;

            .fc-icon {
                font-size: 2.5rem;
            }
        }
        
        .fc .fc-toolbar.fc-header-toolbar {
            padding-bottom: 1rem;
            border-bottom: 1px solid transparentize($color-iron, .4);
        }

        .fc .fc-scrollgrid-liquid {
            border-color: transparentize($color-iron, .4);
        }

        .fc-day:not(.fc-day-disabled) .fc-daygrid-day-frame {
            &:hover {
                background-color: $color-white-lilac;
                cursor: pointer;
            }
        }

        .fc-theme-standard td,
        .fc-theme-standard th {
            @include fontSize(20);
            font-weight: 600;
            border-color: transparentize($color-iron, .4);
        }
        

        .fc-daygrid-event {
            @include fontSize(16);
            padding: 3px;
            white-space: normal;
        }

        .fc .fc-daygrid-day.fc-day-today {
            background-color: $color-hawkes-blue;
        }

        .fc-daygrid-dot-event .fc-event-title {
            font-weight: 400;
        }

        .fc-theme-standard td,
        .fc-theme-standard th {
            background-color: $color-white;
        }

        .fc .fc-cell-shaded,
        .fc .fc-day-disabled {
            background-color: $color-white-lilac;
        }

        .fc .fc-daygrid-day-top {
            flex-direction: row;
        }
    }

    &-widget {
        display: flex;
        flex-direction: column;
        flex-basis: 410px;
        padding: 1rem .5rem;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 14px;

        h2 {
            @include fontSize(34);
            margin: 0;
            text-align: center;

            span {
                &:last-child {
                    font-weight: 600;
                }
            }
        }

        h3 {
            @include fontSize(28);
            margin: 1.5rem 1.5rem .5rem;
        }

        h4 {
            margin: 0 0 .5rem;
            font-size: 1rem;
            font-weight: 600;
        }

        .noMonthlyEvents {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                cursor: pointer;
                width: 100%;
                max-width: 300px;
            }
        }

        .eventRow {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: .75rem;
            padding: .75rem;
            background: $color-mystic;
            border-radius: 12px;
            transition: background .3s ease-in-out;

            &:hover {
                background: $color-iron;
                cursor: pointer;
            }

            .datesStartEnd {
                display: flex;
                flex-direction: column;
                flex-basis: 100px;
                font-weight: 600;
                text-align: center;
                border-right: 1px solid #bbb;

                strong {
                    font-weight: 600;
                }

                span {
                    color: $color-bali-hai;
                }
            }

            .event-client {
                @include fontSize(14);
                display: inline-block;
                padding: .25rem .75rem;
                background-color: $color-manhattan;
                font-weight: 600;
                border-radius: 14px;
            }
        }
    }
}

.modal-event-add {
    @media screen and (min-width: $screen-desktop) {
        padding: 2rem 10rem 6rem;
    }

    .addEventForm {
        display: grid;
        width: 650px;
        max-width: 100%;
    
        h2 {
            @include fontSize(32);
            font-weight: 600;
        }
    
        .input-wrapper {
            display: flex;
            gap: 5px;
            flex-direction: column;
            padding: .75rem 0;

            label {
                color: $color-regal-blue;
            }
    
            input[type="text"],
            textarea,
            select {
                padding: .2rem 0;
                background: none;
                border: none;
                border-bottom: 1px solid $color-dusty-gray;
    
                &:focus {
                    outline: 0;
                }
            }

            &.start-date-time,
            &.end-date-time {
                gap: 1rem;

                @media screen and (min-width: $screen-desktop) {
                    flex-direction: row;
                }

                > div {
                    flex: 1;

                    .form-control {
                        width: 100%;
                    }
                }

                .rdt {
                    position: relative;

                    &::before {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        color: $color-regal-blue;
                        font-family: "credence";
                        font-size: 2rem;
                        font-style: normal;
                        font-weight: normal;
                        display: inline-block;
                        text-decoration: inherit;
                        width: 1em;
                        margin-right: 0.2em;
                        text-align: center;
                        font-feature-settings: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1em;
                        margin-left: 0.2em;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }

                .input-date .rdt::before {
                    content: '\e814';
                }

                .input-time .rdt::before {
                    content: '\e819';
                }
            }
        }
    
        .submit-btn-wrapper {
            flex-direction: row;
            gap: 1rem;
            margin-top: 1rem;
        }
    }
}

.viewModalButtons {
    display: flex;
    justify-content: space-between;

    button {
        margin: 0 5px;
    }
}

.viewModalContent {
    padding: 0;

    @media screen and (min-width: $screen-desktop) {
        padding: 0 4rem;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
    }
}

.viewModalTable {
    width: 500px;

    th, td {
        padding: 5px 0;
        font-weight: 400;
        text-align: left;
        vertical-align: top;
    }

    th {
        color: $color-dusty-gray;

        @media screen and (min-width: $screen-desktop) {
            padding-right: 50px;
        }
    }

    .viewEventDates {
        display: flex;
        flex-direction: column;
    }

    .viewModalConnections {
        span {
            @include fontSize(14);
            display: inline-block;
            padding: 0.25rem 0.75rem;
            background-color: $color-manhattan;
            font-weight: 600;
            border-radius: 14px;
        }
    }
}