.page-signup {
    background-color: $color-white;
    .page-signup-area{
        font-size: 1rem;
        padding: 20px;
        background-color: $color-white;
        max-width: 1118px;
        max-height: 720px;
    }
    .icon-close{
        display: none;
    }
    h3{
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin: 36px 40px 0 39px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        span{
            margin-bottom: .8px;   
        }
        span:nth-of-type(1){
            margin-right: 5px;
        }
        span:nth-of-type(2){
            margin-left: 5px;
        }
    }
    .credence-logo{
        width:40%;
        max-width: 180px;
    }
    img.signup-img{
        // margin:15px 130px 55px 114px;
        display: block;
        margin: 15px auto 55px auto;
    }
    label{
        display: block;
        color:$color-regal-blue;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 8px;
    }
    input[for="firstname"],
    input[for="lastname"],
    input[for="email"]{
        width: 100%;
        background-color: $color-white;
        border: none;
        border-bottom: 1px solid $color-gray;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    input[for="password"]{
        width: 100%;
        background-color: $color-white;
        border: none;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    .password-area{
        display: flex;
        border-bottom: 1px solid $color-boulder; 
        margin-bottom: 32px;
    }
    .icon-info,
    .icon-info{
        font-size: 16px;
        color:#202533;
    }
    .required-star{
        color: $color-guardsman-red;
    }
    .error{
        color: $color-guardsman-red;
    }
    button.submit-signup-btn{
        margin: 56px 0 21px 0;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        background-color: $color-science-blue;
        color: $color-white;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        justify-content: center;
        transition: background-color 0.2s ease-in-out;
    }
    @media screen and (min-width:$screen-desktop){
        background-color:$color-dusty-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 109px 35px;
        .page-signup-area{
            padding: 26px 53px 70px 53px;
            border-radius: 24px;
            width: 80%;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
            background-color: $color-white-lilac;
        }
        .icon-close{
            display: block;
            text-align: right;
        }
        .icon-close:before{
            margin: 0;
            font-size: 42px;
        }
        h3{
            font-size: 36px;
            line-height: 44px;
            margin-top: 0;

            span{
                margin-bottom: 10px;   
            }
            span:nth-of-type(1){
                margin-right: 8px;
            }
            span:nth-of-type(2){
                margin-left: 8px;
            }
        }
        .desktop-grid{
            display: grid;
            align-items: center;
            gap: 100px;
            grid-template-columns: 1.3fr 1fr;
            margin-top: 52px;
            width: 100%;
        }
        img.signup-img{
            width:100%;
            height: auto;
            
        }
        input{
            background-color: $color-white-lilac;
        }
        button.submit-signup-btn{
            margin: 32px 0 0 0;
        }
    }



}