.page-signup {
    background-color: $color-white;
    .page-signup-area{
        font-size: 1rem;
        padding: 20px;
        background-color: $color-white;
    }
    .icon-close{
        display: none;
    }
    h3{
        font-style: normal;
        @include fontSize(24);
        line-height: 32px;
        color: #000000;
        margin: 36px auto 0 auto;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: 600;
        .credence-logo{
            height: 24px;
            margin: 0 5px;
            position: relative;
            bottom: -6px;
        }
    }
    img.signup-img{
        display: block;
        margin: 11px auto 18px auto;
        width: 60%;
        height: auto;
    }
    label{
        display: block;
        color:$color-regal-blue;
        @include fontSize(14);
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 8px;
    }
    input[for="firstname"],
    input[for="lastname"],
    input[for="email"]{
        width: 100%;
        background-color: $color-white;
        border: none;
        border-bottom: 1px solid $color-gray;
        margin-bottom: 22px;
        @include fontSize(16);
        line-height: 20px;
        font-weight: 400;
    }
    input[for="password"]{
        width: 100%;
        background-color: $color-white;
        border: none;
        @include fontSize(16);
        line-height: 20px;
        font-weight: 400;
        height: 23px;
    }
    .password-area{
        display: flex;
        border-bottom: 1px solid $color-boulder; 
        margin-bottom: 22px;
        height: 23px;
        align-items: center;
    }
    .icon-hide,
    .icon-show{
        @include fontSize(23);
        color:#202533;
    }
    .required-star{
        color: $color-guardsman-red;
    }
    .error{
        color: $color-guardsman-red;
    }
    button.submit-signup-btn.btn.btn-primary{
        margin: 56px 0 117px 0;
        width: 100%;
        justify-content: center;
    }
    @media screen and (min-width:$screen-desktop){
        background-color:$color-dusty-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 109px 35px;
        height: 100vh;
        .page-signup-area{
            padding: 26px 53px 41.52px 53px;
            border-radius: 24px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
            background-color: $color-white-lilac;
            max-width: 1118px;
            max-height: 720px;
            min-width: 790px;
            min-height: 567px;
        }
        .icon-close{
            display: block;
            text-align: right;
        }
        .icon-close:before{
            margin: 0;
            @include fontSize(42);
        }
        h3{
            @include fontSize(36);
            line-height: 44px;
            margin-top: 0;

            .credence-logo{
                height: 36px;
                margin: 0 7px;
                position: relative;
                bottom: -9px;
            }
        }
        .desktop-grid{
            display: grid;
            align-items: center;
            gap: 100px;
            grid-template-columns: 1.3fr 1.065fr;
            margin-top: 52px;
            width: 100%;
        }
        img.signup-img{
            width:100%;
            height: auto;
            max-height: 394.5px;
            margin: 0;
        }
        input[for="firstname"],
        input[for="lastname"],
        input[for="email"]{
            background-color:$color-white-lilac;
            height: 34px;
        }
        input[for="password"]{
            background-color:$color-white-lilac;
            height: 33px;
        }
        .password-area{
            height: 34px;
        }
        .icon-hide,
        .icon-show{
            @include fontSize(26);
        }
        button.submit-signup-btn.btn.btn-primary{
            margin: 28px 0 0 0;
        }
    }
}