.page-signup-successSignup {
        text-align: center;
        padding: 20px;
    
    h3{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        // margin-top: 64px 0 59px 0;
    }
    img.credence-logo{

    }
    
    p{
        text-align: center;
    }
    
    img.signup-complete-image{
        margin-top: 85px;
    }
     
    button{
        display: block;
        margin-top: 123px 0 177px 0;
    }
    @media screen and (min-width:$screen-desktop){
        
    }
}