.page-signup-successSignup {
    background-color: $color-wild-sand;
    .page-successSignup-area{
        text-align: center;
        padding: 20px;
        background-color: $color-wild-sand;
        max-width: 1118px;
        max-height: 720px;
    }
    .header-arrow{
        display: none;
    }
    h3{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin: 64px 0 59px 0;
    }
    img.credence-logo{
        width: 20%;
        margin-right: 3px;
    }
    p{
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        span{
            margin-bottom: 4px;
            margin-right: 5px;
        }
    }
    p:nth-of-type(2){
        margin: 0;
    }
    img.signup-success-image{
        margin: 85px auto 0 auto;
        width: 60%;
    }    
    button{
        display: block;
        margin: 123px 0 177px 0;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        background-color: $color-science-blue;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        justify-content: center;
        transition: background-color 0.2s ease-in-out;

        a[href="/login"]{
            color: $color-white;
        }
    }
    @media screen and (min-width:$screen-desktop){
        background-color:$color-dusty-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 109px 35px;
        .page-successSignup-area{
            padding: 26px 53px 51px 53px;
            border-radius: 24px;
            width: 80%;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
        }
        .header-arrow{
            display: flex;
            justify-content: space-between;
            .icon-arrow-left,
            .icon-close{
                font-size: 42px;
            }
        }
        h3{
            margin: 0 auto 68px auto;
            font-size: 36px;
            line-height: 44px;
        }
        img.signup-success-image{
            margin-top: 31px;
            width: 30%;
        }
        button{
            width: 60%;
            margin: 75px auto 0 auto;
        }
    }
}