
.reports {
    background: $color-white;
    padding: 2rem 1rem;
    border: 1px solid $color-dusty-gray;
    border-radius: 15px;
    max-width: 100%;
    display: grid;
    grid-gap: .5rem;

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        @include fontSize(30);

        i::before {
            @include fontSize(30);
            color: $color-science-blue;
            margin: 0;
        }
    }

    @media screen and (min-width: $screen-desktop) {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 2rem;

        h2 {
            grid-column: 1/-1;
            justify-content: start;
            @include fontSize(32);
            padding-bottom: .5rem;

            i::before {
               @include fontSize(32);
            }
        }
    }
}

.active-clients, .industry-type {
    max-width: 100%;
    
    h3 {
        text-align: center;
        @include fontSize(24);
    }

    @media screen and (min-width: $screen-desktop) {
        background-color: $color-white-lilac;
        border: 1px solid $color-dusty-gray;
        border-radius: 15px;
        padding: 1rem 3rem;

        h3 {
            margin-bottom: 0;
            @include fontSize(28);
        }
    }
}

@media screen and (min-width: $screen-desktop) {
    .industry-type div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        canvas {
            align-items: center;
        }
    }

}