
.reports {
    background: $color-white;
    padding: 2rem 1rem;
    border: 1px solid $color-dusty-gray;
    border-radius: 15px;
    max-width: 100%;
    display: grid;
    grid-gap: .5rem;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        @include fontSize(34);

        i::before {
            @include fontSize(34);
            color: $color-science-blue;
            margin: 0;
        }
    }

    @media screen and (min-width: $screen-desktop) {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 2rem;

        h1 {
            grid-column: 1/-1;
            justify-content: start;
            @include fontSize(36);

            i::before {
               @include fontSize(36);
            }
        }
    }
}

.active-clients {
    max-width: 100%;
    
    h2 {
        text-align: center;
        @include fontSize(30);
    }

    @media screen and (min-width: $screen-desktop) {
        background-color: $color-white-lilac;
        border: 1px solid $color-dusty-gray;
        border-radius: 15px;
        padding: 1rem 3rem;

        h2 {
            margin-bottom: 0;
            @include fontSize(32);
        }
    }
}