.page-settings {
    font-size: 1rem;
    padding: 17px 12px;
    .page-profile-edit,
    .page-profile-passwordSecurity,
    .page-profile-subscription{
        border-bottom: 1px solid $color-dusty-gray;
    }

    img[alt="user-img"]{
        width: 124px;
        height: 125px;
        border-radius: 199.789px;
        margin-right: 20px;
        
    }
    .my-profile-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    i.icon-connection:before,
    i.icon-calendar:before,
    i.icon-note:before{
        font-size:43px;
        display: flex;
    }
    .connection-box,
    .event-box,
    .note-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        p:nth-of-type(1){
            margin: 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
        p:nth-of-type(2){
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .title-icon-box{
        display: flex;
        align-items: center;
        i{
            font-size: 50px;
            color: $color-science-blue;
        }
        h4{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin: 0;
        }
    }
    .title-icon-box+p{
        margin: 0;
        font-weight: 400;
        font-size: 15.8391px;
        line-height: 21px;
    }
    span{
        font-weight: 700;
    }
    button.edit-profile-btn,
    button.manage-security-btn{
        margin:39px 0 24px auto;
        text-align: right;
    }
    button.go-premiun-btn{
        margin:39px 0 24px auto;
        text-align: right;
    }
    @media screen and (min-width:$screen-desktop){
        padding: 20px;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        display: grid;
        gap: 20px;
        .page-profile-edit,
        .page-profile-passwordSecurity,
        .page-profile-subscription{
            border-bottom:none;
            background-color: $color-mystic;
            border: 1px solid $color-dusty-gray;
            border-radius: 16px;
        }
        .page-profile-edit{
            padding: 39px 39px 37px 49px;
        }
        .page-profile-passwordSecurity,
        .page-profile-subscription{
            padding: 51px 73px 51px 49px;
        }
        button.edit-profile-btn,
        button.manage-security-btn,
        button.go-premiun-btn{
            margin:39px auto 0 0;
            text-align: left;
        }
    }
}


