//MODAL PAGE//Edit Profile
 .editProfile-modal{
    padding: 20px;
    h2{
        text-align: center;
    }
    .no-img-onprofile{
        width: 148px;
        height: 148px;
        background-color: #9494947a ;
        border-radius: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            @include fontSize(14)
        }
    }
    .add-photo-area{
        width: 148px;
        height: 148px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        img[alt="user-img"]{
            width: 148px;
            height: 148px;
            border-radius: 50% 50%;    
        }
    }
    .choose-file-area{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        input{
           text-align: center;
           @include fontSize(14);
           width: 200px;
        }
    }
    .input-area{
        width: 100%;
        margin-top: 28px;
        label{
            font-style: normal;
            font-weight: 400;
            @include fontSize(14);
            line-height: 16px;
            color: $color-regal-blue;
        }
        input{
            display: block;
            border: none;
            border-bottom: 1px solid $color-dusty-gray;
            width: 100%;
        }
        input::placeholder{
            color: $color-boulder;
            opacity: 1;
        }
        
    }
    .edit-btn-area{
        text-align: center;
        .edit-profile-btn{
            margin-top: 50px;
        }
    }
    @media screen and (min-width:$screen-desktop){
        
    }
 }
//MODAL PAGE//Submitted Edit Profile (after click "Edit Profile" button) 
.submitted-editprofile-modal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-box{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color:$color-white;
        padding: 40px 20px;
        width: 80%;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        img[alt="new-userimg"]{
            width: 148px;
            height: 148px;
            border-radius: 50% 50%;
        }
        h2{
            margin-top: 25px;
        }
        .submitted-editprofile-btn{
            margin-top: 50px;
        }
    }
}


//MODAL PAGE//Subscribe Premium section 
.subscribe-modal-premium{
    height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    .subsc-modal{
        width: 50%;
        padding: 20px;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        text-align: center;
        margin: auto;
    }
}
//MODAL PAGE//About us
.aboutus-page-modal-modal{
    background-color: $color-white;
    height: 100vh;
    padding: 20px;
    .modal-aboutus{
        height: 100vh;
        h2{
            text-align: center;
            @include fontSize(28);
        }
        .members-box{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            justify-items: center;
            margin-bottom: 3rem;
        }
        .member{
            text-align: center;
            display: flex;
            flex-flow: column;
            align-items: center;
            .image+p{
                font-style: normal;
                font-weight: 600;
                @include fontSize(24);
            }
            .image{
                width: 120px;
                height:120px;
            }
            h3,h3+p{
             margin:0 0 5px 0;
            }
            h3{
             margin-bottom: 5px;
             @include fontSize(21);
            }
            .links-box{
                display: flex;
                flex-flow: column;
                div{
                    display: flex;
                    flex-flow: row;
                }
                img{
                    width: 15px;
                    margin-right: 8px;
                }
                p{
                    margin: 0;
                    @include fontSize(14);
                }
            }
        }
        .close-btn{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;  
        }
        .credence-tag{
            display: flex;
            justify-content: center;
        }
        @media screen and (min-width:$screen-desktop){
            .members-box{
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                .member{
                    .image{
                        width: 180px;
                        height:180px;
                    }
                }
            }
        }
    } 
}
//MODAL PAGE//Help
.contactus-modal{
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h3{
        margin-bottom: 0;
    }
    .contactus-btn{
        margin-top: 20px;
    }
}
.page-settings {
    font-size: 1rem;
    padding: 17px 12px;
    h2{
        text-align: center;
    }
    .section-profile-edit,
    .section-passwordSecurity,
    .section-subscription,
    .section-theme,
    .section-notification,
    .section-aboutus,
    .section-help{
        border-bottom: 1px solid $color-dusty-gray;
    }
    .no-img-onprofile{
        width: 124px;
        height: 125px;
        border-radius: 199.789px;
        background-color: #9494947a ;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            @include fontSize(14);
            position: relative;
        }   
    }
    img[alt="user-img"]{
        width: 124px;
        height: 125px;
        border-radius: 199.789px;
        margin-right: 20px; 
    }
    .my-profile-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
    i.icon-connection:before,
    i.icon-calendar:before,
    i.icon-note:before{
        @include fontSize(30);
        display: flex;
        color: $color-regal-blue;
    }
    .connection-box,
    .event-box,
    .note-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        p:nth-of-type(1){
            margin: 0;
            font-weight: 700;
            @include fontSize(20);
            line-height: 24px;
        }
        p:nth-of-type(2){
            margin: 0;
            font-weight: 400;
            @include fontSize(16);
            line-height: 20px;
        }
    }
    span{
        font-weight: 700;
    }
    button.edit-profile-btn,
    button.manage-security-btn,
    button.go-premiun-btn,
    button.learnmore,
    button.contactus{
        margin:39px 0 24px auto;
        display: flex;
    }
    .page-appsettings{
        h2{
            margin-top: 32px;
        }
    }
    
    //Switch buttons=========================
    .switch{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        border-color:$color-science-blue;
    }
    .switch input{
        opacity: 0;
        width: 0;
        height: 0;
        border-color:$color-science-blue;
    }
    input[type="checkbox"]{
        background-color: initial;
        cursor: default;    
        appearance: auto;
        margin: 3px 3px 3px 4px;
        padding: initial;
        border: initial;
        border-color:$color-science-blue;
    }
    input:checked + .slider{
        background-color: $color-science-blue;
    }
    .slider.round{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
        background-color: $color-white-lilac;
        transition: .4s;
    }
    //==========================================================
    section.section-notification,
    section.section-theme{
        display: grid;
        grid-template-columns: auto 60px;
        grid-template-rows: 1fr 1fr;
        .title-icon{
            display: flex;
            align-items: center;
            margin-top: 16px;
        }
        i{
            @include fontSize(30);
            color: $color-regal-blue;
        }
        h3{
            margin-bottom: 0;
            margin-top: 0;
            @include fontSize(20);
            font-weight: 600;
            line-height: 24px;
        }
        p{
            margin-top: 0;
            @include fontSize(14);
            margin-left: 42px;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .switch{
            grid-column: 2 / 3;
            grid-row: 1 / -1;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    section.section-passwordSecurity,
    section.section-subscription,
    section.section-aboutus,
    section.section-help{
        .title-icon{
            display: flex;
            align-items: center;
            margin-top: 16px;
        }
        .icon-security,
        .icon-subscription,
        .icon-profile,
        .icon-help,
        .icon-info,
        .icon-bell,
        .icon-theme{
            @include fontSize(30);
            margin-top: 0;
            color: $color-regal-blue;
        }
        h3{
            margin-bottom: 0;
            @include fontSize(20);
            font-weight: 600;
            margin-top: 0;
        }
        p{
            margin-top: 0;
            margin-left: 42px;
            @include fontSize(14);
        }
    }
    section.subscribe{
            background-color: $color-solitude;
            border: 1px solid $color-science-blue;
            padding: 26px 16px 19px 16px;
            border-radius: 16px;
            margin-top: 24px;
            h2{
                margin: 0;
            }
            h2,h2+p{
                text-align: center;
            }
            .blue-title{
                color: $color-science-blue;
            }
            .price-box{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .price{
                    display: flex;
                    align-items: center;
                    p:nth-of-type(1){
                        margin-right: 8px;
                    }
                    .blue-price{
                        color: $color-science-blue;
                        font-weight: 700;
                        @include fontSize(34);
                        line-height: 44px;
                    }
                }
            }
            h3{
                margin: 16px 0 20px 0;
            }
            li:before{
                display: block;
            }
            li{
               margin-bottom: 20px; 
               i{
                font-size: 20px;
               }
            }
            li:nth-of-type(4){
                display: flex;
                span{
                    font-weight: normal;
                    span{
                        font-weight: bold;
                    }
                }
            }
    }
    
    @media screen and (min-width:$screen-desktop){
        padding: 20px;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        display: grid;
        gap: 20px;
        h2{
            font-size: 36px;
            line-height: 44px;
        }
        .account-setting-box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;
        }
        .app-setting-box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;
        }
        img[alt="user-img"]{
            width: 100px;
            height: 100px;
            margin-right: 0;
        }
        .my-profile-box{
            margin-right: auto;
            margin-left: auto;
        }
        section.section-profile-edit,
        section.section-passwordSecurity,
        section.section-subscription,
        section.section-theme,
        section.section-notification,
        section.section-aboutus,
        section.section-help{
            border-bottom:none;
            background-color: $color-mystic;
            border: 1px solid $color-dusty-gray;
            border-radius: 16px;
            padding: 24px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-start;
            .title-icon{
                align-items: center;
                margin-top: 0;
                i{
                    margin-top: 0;
                }
            }
            h3{
                margin-top: 0;
            }
            p{
                margin-left: 0;
            }
        }
        section.section-theme,
        section.section-notification{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 30px;
            .title-icon{
                grid-column: 1 / -1;
                grid-row: 1 / 2;
            }
            p{
                grid-column: 1 / -1;
                grid-row: 2 / 3;
            }
            .switch{
                grid-row: 3 / 4;
                grid-column: 1 / -1;
                margin: 0;
            }
        }
        button.edit-profile-btn,
        button.manage-security-btn,
        button.go-premiun-btn,
        button.contactus,
        button.learnmore{
            margin: 0;
        }
        button.edit-profile-btn,
        button.manage-security-btn,
        button.go-premiun-btn{
            margin-top: 52px;
        }
        .subscribe{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            align-items: center;
            .price-box{
                order: 3;
                flex-direction: column;
                flex-wrap: nowrap;
                p{
                    margin: 0 0 17px 0;
                }
            }
        }
    }
}


