.page-settings {
    font-size: 1rem;
    padding: 17px 12px;
    h2{
        text-align: center;
    }
    .section-profile-edit,
    .section-profile-passwordSecurity,
    .section-profile-subscription,
    .section-theme,
    .section-notification,
    .section-aboutus,
    .section-help{
        border-bottom: 1px solid $color-dusty-gray;
    }

    img[alt="user-img"]{
        width: 124px;
        height: 125px;
        border-radius: 199.789px;
        margin-right: 20px;
        
    }
    .my-profile-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    i.icon-connection:before,
    i.icon-calendar:before,
    i.icon-note:before{
        font-size:43px;
        display: flex;
    }
    .connection-box,
    .event-box,
    .note-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        p:nth-of-type(1){
            margin: 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
        p:nth-of-type(2){
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .title-icon-box{
        display: flex;
        align-items: center;
        i{
            font-size: 50px;
            color: $color-science-blue;
        }
        h4{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin: 0;
        }
    }
    .title-icon-box+p{
        margin: 0;
        font-weight: 400;
        font-size: 15.8391px;
        line-height: 21px;
    }
    span{
        font-weight: 700;
    }
    button.edit-profile-btn,
    button.manage-security-btn,
    button.go-premiun-btn,
    button.learnmore,
    button.contactus{
        margin:39px 0 24px auto;
        display: flex;
    }
    
    
    //toggle buttons=========================
    .toggle-switch {
        display: table;
        font-size: 60px;
    }
    
    .toggle-switch>input {
        display: none;
    }
    
    .toggle-switch > label {
        display: block;
        position: relative;
        height: 24px;
        width: 48px;
        border-radius: 29px;
        background-color: $color-white-lilac;
        border:1px solid $color-regal-blue ;
        cursor: pointer;
    }
    .toggle-switch > input:checked + label {
        background-color: #2dcb45;
    }
    .toggle-switch > label::before {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        border-radius:36px;
        background-color: $color-science-blue;
        transition: 0.5s;
        gap: 10px;
        content: "";
    }
    .toggle-switch > input:checked + label::before {
        left: calc(100% - 1em + 0.05em);
    }
    //==========================================================
    section.subscribe{
            background-color: $color-solitude;
            border: 1px solid $color-science-blue;
            padding: 26px 16px 19px 16px;
            border-radius: 16px;
            h2{
                margin: 0;
            }
            h2,h2+p{
                text-align: center;
            }
            .blue-title{
                color: $color-science-blue;
            }
            .price-box{
                display: flex;
                justify-content: space-between;
                .price{
                    display: flex;
                    align-items: center;
                    .blue-price{
                        color: $color-science-blue;
                        font-weight: 700;
                        font-size: 34px;
                        line-height: 44px;
                    }
                }
            }
            li:before{
                display: block;
            }
    }
    @media screen and (min-width:$screen-desktop){
        padding: 20px;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        display: grid;
        gap: 20px;
        .page-profile-edit,
        .page-profile-passwordSecurity,
        .page-profile-subscription{
            border-bottom:none;
            background-color: $color-mystic;
            border: 1px solid $color-dusty-gray;
            border-radius: 16px;
        }
        .page-profile-edit{
            padding: 39px 39px 37px 49px;
        }
        .page-profile-passwordSecurity,
        .page-profile-subscription{
            padding: 51px 73px 51px 49px;
        }
        button.edit-profile-btn,
        button.manage-security-btn,
        button.go-premiun-btn{
            margin:39px auto 0 0;
            text-align: left;
        }
    }
}


