//MODAL PAGE//Edit Profile
 .edit-profile-modal-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .editProfile-modal{
        padding: 20px;
        border: 1px solid $color-dusty-gray;
        border-radius: 20px;
        background-color: $color-white;
        width: 80%;
        h2{
            text-align: center;
        }
        .no-img-onprofile{
            width: 215px;
            height: 215px;
            background-color: $color-dusty-gray;
            border-radius: 50% 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                @include fontSize(14)
            }
        }
        //picture area
        .choose-file-wrapper{
            display: flex;
            align-items: center;
            gap: 5px;
            flex-direction: column;
            padding: 0.75rem 0;
            position: relative;
            .photo-wrapper{
                width: 215px;
                height: 215px;
                background-color: $color-dusty-gray ;
                border-radius: 50%;
                position: absolute;
                color: $color-regal-blue;
                @include fontSize(25);
                display: flex;
                justify-content: center;
                align-items: center;
            }
           label[for="profile-user-photo"]{
            color: $color-regal-blue;
            width: 215px;
            height: 215px;
            transition: opacity 0.3s ease-in-out;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border: 1px solid $color-mystic;
                border-radius: 50%;
                transition: opacity 0.3s ease-in-out;
            }
           }
        }
        .input-area{
            width: 100%;
            margin-top: 28px;
            label{
                font-style: normal;
                font-weight: 400;
                @include fontSize(14);
                line-height: 16px;
                color: $color-regal-blue;
            }
            input{
                display: block;
                border: none;
                border-bottom: 1px solid $color-dusty-gray;
                width: 100%;
            }
            input::placeholder{
                color: $color-boulder;
                opacity: 1;
            }
        }
        .edit-btn-area{
            text-align: center;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 20px;
            .edit-profile-btn{
                width: 130px;
            }
            .editprofile-close-btn{
                width: 130px;
                justify-content: center;
            }
        }
        @media screen and (min-width:$screen-desktop){
            width: 50%;
            padding: 20px 50px;
        }
    }
}

//MODAL PAGE//Submitted Edit Profile (after click "Edit Profile" button) 
.submitted-editprofile-modal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-box{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color:$color-white;
        padding: 40px 20px;
        width: 80%;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        img[alt="new-userimg"]{
            width: 148px;
            height: 148px;
            border-radius: 50% 50%;
        }
        h2{
            margin-top: 25px;
        }
        .submitted-editprofile-btn{
            margin-top: 50px;
        }
        @media screen and (min-width:$screen-desktop){
            width: 50%;
        }
    }
}
//MODAL PAGE//Password & security
.manage-modal-modal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .manage-modal{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color:$color-white;
        padding: 40px 20px;
        width: 60%;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        text-align: center;
        .manage-close-btn{
            margin-top: 20px;
        }
        @media screen and (min-width:$screen-desktop){
            width: 30%;
        }
    }
}

//MODAL PAGE//Subscribe Premium section 
.subscribe-modal-premium{
    height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    .subsc-modal{
        width: 50%;
        padding: 20px;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        text-align: center;
        margin: auto;
    }
}

//MODAL PAGE//About us
.aboutus-page-modal-modal{
    background-color: $color-white;
    height: 100vh;
    padding: 20px;
    .modal-aboutus{
        height: 100vh;
        h2{
            text-align: center;
            @include fontSize(28);
        }
        .members-box{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            justify-items: center;
            margin-bottom: 3rem;
        }
        .member{
            text-align: center;
            display: flex;
            flex-flow: column;
            align-items: center;
            .image+p{
                font-style: normal;
                font-weight: 600;
                @include fontSize(24);
            }
            .image{
                width: 120px;
                height:120px;
            }
            h3,h3+p{
             margin:0 0 5px 0;
            }
            h3{
             margin-bottom: 5px;
             @include fontSize(21);
            }
            .links-box{
                display: flex;
                flex-flow: column;
                div{
                    display: flex;
                    flex-flow: row;
                }
                img{
                    width: 15px;
                    margin-right: 8px;
                }
                p{
                    margin: 0;
                    @include fontSize(14);
                }
            }
        }
        .close-btn{
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;  
        }
       
        @media screen and (min-width:$screen-desktop){
            .members-box{
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                .member{
                    .image{
                        width: 180px;
                        height:180px;
                    }
                }
            }
        }
    } 
}

//MODAL PAGE//Help contact up
.contactus-modal-modal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .contactus-modal{
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        padding: 20px;
        border-radius: 16px;
        width: 70%;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        h3{
            margin-bottom: 0;
        }
        .contactus-btn{
            margin-top: 20px;
        }
        @media screen and (min-width:$screen-desktop){
            width: 50%;
        }
    }
}

//Setting Main Page
.page-settings {
    padding: 14px 20px;
    h2{
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 44px;
        margin: 0 0 24px 0;
    }
    .section-profile-edit,
    .section-passwordSecurity,
    .section-subscription,
    .section-theme,
    .section-notification,
    .section-aboutus,
    .section-help{
        border-bottom: 1px solid $color-dusty-gray;
    }
    .no-img-onprofile{
        width: 124px;
        height: 125px;
        border-radius: 199.789px;
        background-color: #9494947a ;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            @include fontSize(14);
            position: relative;
        }   
    }
    img[alt="user-img"]{
        width: 124px;
        height: 125px;
        border-radius: 199.789px;
        // margin-right: 20px; 
    }
    .my-profile-box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        .number-display-box{
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
    }
    i.icon-connection,
    i.icon-calendar,
    i.icon-note{
        @include fontSize(30);
        display: flex;
        color: $color-regal-blue;
        color: $color-shark;
    }
    .connection-box,
    .event-box,
    .note-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 4px;
        p:nth-of-type(1){
            margin: 0;
            font-weight: 700;
            @include fontSize(20);
            line-height: 24px;
            font-style: normal;
        }
        p:nth-of-type(2){
            margin: 0;
            font-weight: 400;
            @include fontSize(16);
            line-height: 20px;
            font-style: normal;
        }
    }
    span{
        font-weight: 700;
    }
    button.edit-profile-btn,
    button.manage-security-btn,
    button.go-premiun-btn,
    button.learnmore,
    button.contactus{
        margin:39px 0 16px auto;
        display: flex;
    }
    .page-appsettings{
        h2{
            margin-top: 63px;
        }
    }
    
    //Switch buttons=========================
    .switch{
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        border-color:$color-science-blue;
    }
    .switch input{
        opacity: 0;
        width: 0;
        height: 0;
        border-color:$color-science-blue;
    }
    input[type="checkbox"]{
        background-color: initial;
        cursor: default;    
        appearance: auto;
        margin: 3px 3px 3px 4px;
        padding: initial;
        border: initial;
        border-color:$color-science-blue;
    }
    input:checked + .slider{
        background-color: $color-science-blue;
    }
    .slider.round{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
        background-color: $color-white-lilac;
        transition: .4s;
    }
    //==========================================================
    section.section-notification,
    section.section-theme{
        display: grid;
        grid-template-columns: auto 60px;
        grid-template-rows: 1fr 1fr;
        .title-icon{
            display: flex;
            align-items: center;
            margin-top: 16px;
        }
        i{
            @include fontSize(30);
            color: $color-regal-blue;
        }
        h3{
            margin-bottom: 0;
            margin-top: 0;
            @include fontSize(20);
            font-weight: 600;
            line-height: 24px;
        }
        p{
            margin-top: 0;
            @include fontSize(16);
            margin-left: 42px;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .switch{
            grid-column: 2 / 3;
            grid-row: 1 / -1;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    section.section-passwordSecurity,
    section.section-subscription,
    section.section-aboutus,
    section.section-help{
        .title-icon{
            display: flex;
            align-items: center;
            margin-top: 16px;
        }
        .icon-security,
        .icon-subscription,
        .icon-profile,
        .icon-help,
        .icon-info,
        .icon-bell,
        .icon-theme{
            @include fontSize(30);
            margin-top: 0;
            color: $color-regal-blue;
        }
        i::before{
            margin-left: 0;
        }
        h3{
            margin-bottom: 0;
            @include fontSize(20);
            font-weight: 600;
            font-style: normal;
            line-height: 24px;
            margin-top: 0;
        }
        p{
            margin-top: 0;
            margin-left: 42px;
            @include fontSize(16);
            line-height: 16px;
            font-style: normal;
            font-weight: 400;
        }
    }
    i.icon-bell::before,
    i.icon-theme::before{
        margin-left: 0;
    }
    section.subscribe{
        background-color: $color-solitude;
        border: 1px solid $color-science-blue;
        padding: 26px 16px 19px 16px;
        border-radius: 16px;
        margin-top: 24px;
        h2{
            margin: 0;
        }
        h2,h2+p{
            text-align: center;
        }
        .blue-title{
            color: $color-science-blue;
        }
        .price-box{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .price{
                display: flex;
                align-items: center;
                p:nth-of-type(1){
                    margin-right: 8px;
                }
                .blue-price{
                    color: $color-science-blue;
                    font-weight: 700;
                    @include fontSize(34);
                    line-height: 44px;
                }
            }
        }
        h3{
            margin: 16px 0 20px 0;
        }
        li:before{
            display: block;
        }
        li{
           margin-bottom: 20px; 
           i{
            @include fontSize(20);
           }
        }
        li:nth-of-type(4){
            display: flex;
            span{
                font-weight: normal;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    
    @media screen and (min-width:$screen-desktop){
        padding: 29px 16px 16px 16px;
        background-color: $color-white;
        border: 1px solid $color-dusty-gray;
        border-radius: 16px;
        display: grid;
        gap: 20px;
        
        h2{
            @include fontSize(36);
            margin-top: 0;
            line-height: 44px;
            font-style: normal;
            font-weight: 700;
        }
        .page-appsettings h2{
            margin-top: 56px;
        }    
        .account-setting-box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;
        }
        .app-setting-box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;
        }
        
        .section-profile-edit{
            display: flex;
            .my-profile-box{
                width: 100%;
                flex-direction: column;
                justify-items: center;
                gap: 5px;
                img[alt="user-img"]{
                    width: 100px;
                    height: 100px;
                    margin-right: 0;
                }
                .number-display-box{
                    width: 100%;
                    i.icon-connection,
                    i.icon-calendar,
                    i.icon-note{
                        font-size:38px;
                    }        
                }
            }    
            @media screen and (min-width:1407px){
                .my-profile-box{
                    flex-direction: row;
                    gap: 20px;
                    .number-display-box{
                        gap: 5px;
                    }
                }
            }
        } 
        section.section-profile-edit,
        section.section-passwordSecurity,
        section.section-subscription,
        section.section-theme,
        section.section-notification,
        section.section-aboutus,
        section.section-help{
            border-bottom:none;
            background-color: $color-mystic;
            border: 1px solid $color-dusty-gray;
            border-radius: 16px;
            padding: 24px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-start;
            .title-icon{
                align-items: center;
                margin-top: 0;
                i{
                    margin-top: 0;
                    font-size: 38px;
                }
            }
                h3{
                    font-style: normal;
                    font-size: 28px;
                    line-height: 36px;
                    margin-top: 0;
                }
                p{
                    margin-left: 4px;
                    font-weight: 400;
                    @include fontSize(16);
                    line-height: 20px;
                }
            
            section.section-theme,
            section.section-notification{
                grid-template-columns: 1fr;
                grid-template-rows: auto auto 30px;
                .title-icon{
                    grid-column: 1 / -1;
                    grid-row: 1 / 2;
                }
                p{
                    grid-column: 1 / -1;
                    grid-row: 2 / 3;
                }
                .switch{
                    grid-row: 3 / 4;
                    grid-column: 1 / -1;
                    margin: 0;
                }
            }
            button.edit-profile-btn,
            button.manage-security-btn,
            button.go-premiun-btn,
            button.contactus,
            button.learnmore{
                margin: 0;
            }
            button.edit-profile-btn,
            button.manage-security-btn,
            button.go-premiun-btn{
                margin-top: 52px;
            }
        }
        section.subscribe{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            align-items: center;
            margin-top: 0;
            h2+p{
                margin-top: 16px;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
            }
            .desc-subsc{
                h3{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                }
                li{
                    margin-bottom: 8px;
                }
            }
            .price-box{
                order: 3;
                flex-direction: column;
                flex-wrap: nowrap;
                .price{
                    p{
                        margin: 0 0 17px 0;
                    }
                    .blue-price{
                        @include fontSize(36);
                        margin-right: 5px;
                    }
                } 
            }
        }
    }
    
}

