.page-home {
    font-size: 1rem;

    h2, h3, h4 {
        margin: 0;
    }

    h2 {
        @include fontSize(30);
        font-weight: 600;

        @media screen and (min-width: $screen-desktop) {
            @include fontSize(52);
        }

        span {
            display: inline-block;
            color: $color-science-blue;

            &::first-letter {
                border-bottom: 4px solid $color-science-blue;
            }
        }
    }

    h3 {
        font-weight: 600;

        span {
            display: inline-block;

            &::first-letter {
                border-bottom: 4px solid $color-science-blue;
            }
        }
    }

    p {
        @media screen and (min-width: $screen-desktop) {
            @include fontSize(20);
        }
    }

    .section-wrapper {
        margin: auto;
        max-width: 1500px;
        padding: 3rem 1rem;

        @media screen and (min-width: $screen-desktop) {
            padding: 150px 1rem;
        }
    }

    #home-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        border-bottom: 1px solid $color-gray;

        @media screen and (min-width: $screen-desktop) {
            border-bottom: none;
        }

        .section-wrapper {
            padding: 10px 1.5rem;

            @media screen and (min-width: $screen-desktop) {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 1.5rem;
            }
        }
        
        .logo {
            path {
                stroke-linecap: round;
                stroke-width: 1px;
                    
                &.trace {
                    stroke-dashoffset: 0 !important;
                    transition:
                        stroke-dashoffset 1s linear,
                        stroke-dasharray 1s linear,
                        fill .5s linear .1s;
                }
            }
        }

        .home-navigation {
            position: absolute;
            top: 61px;
            left: 0;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 2rem;
            padding: 2rem;
            width: 100%;
            background-color: white;
            text-align: center;
            box-shadow: 0 3px 5px -3px $color-gray;
            transform: translateX(100%);
            transition: transform .5s ease-in-out;

            @media screen and (min-width: $screen-desktop) {
                position: static;
                flex-direction: row;
                gap: 4rem;
                padding: 0;
                width: auto;
                box-shadow: none;
                transform: none;
            }

            .mobile-home-menu-visible & {
                transform: translateX(0);
            }

            .nav-page-links {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @media screen and (min-width: $screen-desktop) {
                    flex-direction: row;
                    gap: 4rem;
                }
            }

            .nav-login-buttons {
                display: flex;
                gap: 2rem;
            }
        }

        .burger-menu {
            position: absolute;
            top: 20px;
            right: 28px;
            width: 20px;
            height: 20px;

            @media screen and (min-width: $screen-desktop) {
                display: none;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 2px;
                background-color: black;
                opacity: 1;
                transition: all .3s ease-in-out;

                &:first-child {
                    transform: translate(-50%, -6px) rotate(0deg);

                    .mobile-home-menu-visible & {
                        transform: translate(-50%, -1px) rotate(45deg);
                    }
                }

                &:nth-child(2) {
                    .mobile-home-menu-visible & {
                        opacity: 0;
                    }
                }

                &:last-child {
                    transform: translate(-50%, 4px) rotate(0deg);

                    .mobile-home-menu-visible & {
                        transform: translate(-50%, -1px) rotate(-45deg);
                    }
                }
            }
        }
    }

    #hero {
        margin-top: 60px;
        background-color: white;

        @media screen and (min-width: $screen-desktop) {
            margin-top: 85px;
        }

        .section-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .hero-text {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                }
            }

            @media screen and (min-width: $screen-desktop) {
                flex-direction: row-reverse;
                gap: 4rem;
                padding: 150px 1rem;

                .hero-image {
                    flex: 1;
                    text-align: center;
                }

                .hero-text {
                    flex-basis: 500px;
                }
            }
        }
    }

    #reports {
        background-color: $color-solitude;

        .section-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .reports-text {
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }

            @media screen and (min-width: $screen-desktop) {
                flex-direction: row;
                gap: 4rem;

                .reports-image {
                    flex: 1;
                }

                .reports-text {
                    flex-basis: 485px;

                    h2 {
                        @include fontSize(42);
                    }
                }
            }
        }
    }

    #features {
        background-color: white;

        .section-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h2 {
                text-align: center;

                @media screen and (min-width: $screen-desktop) {
                    @include fontSize(52);
                }
            }
        }

        .features-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

            h3 {
                @include fontSize(18);
                text-align: center;

                @media screen and (min-width: $screen-desktop) {
                    @include fontSize(32);
                }
            }

            p {
                display: none;
            }

            @media screen and (min-width: $screen-desktop) {
                grid-template-columns: repeat(auto-fit, minmax(255.75px, 1fr));

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }

                p {
                    display: inline;
                    margin: 0;
                    padding: 0 2rem;
                }
            }
        }
    }
    #features{
        img[alt="Credence Calendar"],
        img[alt="Credence Connection"],
        img[alt="Credence Notes"],
        img[alt="Credence Email Integration"]{
            border: 0.747059px solid $color-regal-blue;
            border-radius: 5.97647px;
            padding: 10px;   
        }

        img[alt="Credence Calendar"]{
            height: 64.078%;
            width: 100%;
        }

        img[alt="Credence Connection"]{
            height: 64.074%;
            width: 100%;
        }

        img[alt="Credence Notes"]{
            height: 70%;
            width: 100%;
        }

        img[alt="Credence Email Integration"]{
            height: 70%;
            width: 100%;
        }

        @media screen and (min-width: $screen-desktop) {
            img[alt="Credence Calendar"],
            img[alt="Credence Connection"],
            img[alt="Credence Notes"],
            img[alt="Credence Email Integration"]{
                height:50%;
            }
        }
    }

    #about {
        .section-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @media screen and (min-width: $screen-desktop) {
                flex-direction: column;
            }

            h2 {
                text-align: center;
            }

            .about-content {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                @media screen and (min-width: $screen-desktop) {
                    flex-direction: row;
                    align-items: center;
                }
            }

            .about-text {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                h3 {
                    @include fontSize(24);
                    font-weight: 700;

                    @media screen and (min-width: $screen-desktop) {
                        @include fontSize(42);
                        font-weight: 600;
                    }

                    span {
                        color: $color-science-blue;
                    }
                }
            }

            @media screen and (min-width: $screen-desktop) {
                gap: 3rem;

                .about-image {
                    flex: 1;
                }

                .about-text {
                    flex-basis: 530px;
                }
            }
        }
    }

    #newsletter {
        background-color: white;

        .section-wrapper {
            @media screen and (min-width: $screen-desktop) {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 4rem;
                padding: 60px 1rem;
            }
        }

        h2 {
            @media screen and (min-width: $screen-desktop) {
                @include fontSize(64);
                font-weight: 400;
            }

            span {
                color: black;
            }
        }

        .newsletter-image {
            @media screen and (min-width: $screen-desktop) {
                flex: 1;
                text-align: center;
            }
        }

        .newsletter-text {
            @media screen and (min-width: $screen-desktop) {
                flex-basis: 750px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @media screen and (min-width: $screen-desktop) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: end;
                }
            }

            .input-wrapper {
                display: flex;
                flex-direction: column;

                @media screen and (min-width: $screen-desktop) {
                    flex: 1;
                }

                label {
                    @include fontSize(19);
                    color: $color-regal-blue;
                }

                input[type="email"] {
                    @include fontSize(22);
                    border: none;
                    border-bottom: 1px solid $color-gray;

                    &:focus {
                        outline: 0;
                    }
                }
            }

            .newsletter-button {
                @media screen and (min-width: $screen-desktop) {
                    flex-basis: 280px;
                }

                button {
                    @include fontSize(20);
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }

    #home-footer {
        background-color: $color-shark;
        color: white;
        line-height: 1.5rem;

        .section-wrapper {
            padding: 3rem 1rem .5rem;

            @media screen and (min-width: $screen-desktop) {
                padding: 120px 1rem .5rem;
            }
        }

        .footer-columns {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;

            h3 {
                @include fontSize(40);
                display: inline-block;
                margin-bottom: 1rem;
    
            }
    
            h4 {
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            p {
                @include fontSize(16);
            }
    
            a {
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }

            @media screen and (min-width: $screen-desktop) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .copyright {
            @include fontSize(12);
            margin-top: 3rem;
            text-align: center;

            @media screen and (min-width: $screen-desktop) {
                margin-top: 120px;
            }
        }
    }
}